<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E67FA79F2BF4A56F006B0B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E67FA7B52BF4A570006B0B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E67FA7BF2BF4A570006B0B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
